

<body>
    <div class="container-scroller">
      <!-- partial -->

      <div class="content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="aboutus-wrapper">
                    <h1 class="mt-5 text-center mb-5">
                      Contact Us
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae doloremque eum fuga nesciunt provident, quae quis saepe similique tenetur voluptas. Alias culpa distinctio dolorum incidunt quidem reiciendis sed similique ut.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
